
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.csproj.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.user
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sil
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
/OFX.InternalAccounts/.nuget
/OFX.InternalAccounts/.vs
OFX.InternalAccounts/.OFX.InternalAccounts.boltdata

Deployed

*.ncrunch*
node_modules
.vscode/
*-test-results.xml
unit-test-results.xml
applicationhost.config
UpgradeLog*.htm
.vs
*.Tests.xml
.idea/
coverage